<!DOCTYPE html>
<html>
<head>
<title>Sever Room Monitor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
        function startTime() {
          var today = new Date();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('txt').innerHTML =
          h + ":" + m + ":" + s;
          var t = setTimeout(startTime, 1000);
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
        function update_tmp(){
            $.ajax({
                url: '/api/gettmp',
                success: function (data) {
                    if(data['temp'] == -1 ){
                    document.getElementById('temp').innerHTML = " N/A ";
                    document.getElementById('hum').innerHTML = " N/A";
                    }
                    else{
                    document.getElementById('temp').innerHTML = data['temp'] + "F";
                    document.getElementById('hum').innerHTML = data['humidity'] + "%";
                    }
                    
                }
            });
        }
        function update(){
          setInterval(function(){
          update_tmp();
        }, 2000);
        }
        
    </script>

<style>

ul {
vertical-align: left;
list-style:none;
align-self: left;
}

li {
text-align:left;  
white-space: nowrap;
}
span {
font-size: 1em;
font-weight:bold;
font-family: 'Lucida Sans';
}
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/bkimg2.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>

</head>
<body onload="startTime(); update()">

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
        <ul>
                <li>
                    <i class="glyphicon glyphicon-time"></i><span id='txt'></span>
                </li>
               
                <li>
                    <i class="glyphicon glyphicon-fire"></i></span><span id='temp'>Temperature</span>
                </li>
       
                <li>
                    <i class="glyphicon glyphicon-tint"></i><span id='hum'>Humidity</span>
                </li>
    
            </ul>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-black">Subscribe</button></p>
    <p><button onclick="document.getElementById('unsubscribe').style.display='block'" class="w3-button w3-black">Unsubscribe</button></p>
  </div>
  
    

  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge">Help you handle everthing remotly</p>
    <p>Server Room Monitor</p>
  </div>
</div>



<!-- subscribe Modal -->
<div id="subscribe" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('subscribe').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Subscribe</h1>
    </div>
    <div class="w3-container">
      <p><b>You will receve message when the condition in server room is abnormal</b></p>
      <form action="/subscribe/" method="POST" >
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="eamil" placeholder="Your Eamil Address" required name="Email"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="tel" placeholder="Your Phone Number" required name="Phone Number"></p>
        <p><button class="w3-button" type="submit">Submit</button></p>
      </form>
    </div>
  </div>
</div>

<!-- Unsubscribe Modal -->
<div id="unsubscribe" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('unsubscribe').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Unsubscribe</h1>
    </div>
    <div class="w3-container">
      <p><b>You will stop receving message from Sever Room Monitor if you unsubscribe it!</b></p>
      <form action="/unsubscribe" method = "POST">
        <p><input class="w3-input w3-padding-16 w3-border" type="email" placeholder="Your email address" required name="Email"></p>
        <p><button class="w3-button" type="submit">Submit</button></p>
      </form>
    </div>
  </div>
</div>

</body>
</html>

